body {
    background: #FFFFFF;
}

.homepage {
    background: url("../img/bgimage.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 10%;
}

/* navbar */


.header ul {
    margin-right: 0;
    text-transform: uppercase;
}

.header .navbar {
    background: transparent;
}

.header .navbar-nav {
    width: 100%;
}

.pages {
    color: #000000;
}

.pages:hover {
    color: #FF6B00 !important;
}


/* firstpage */

.textarea {
    height: 100%;
    display: flex;
    margin-left: 10%;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    /* align-content: flex-start;*/
}

.textarea .btn {
    background: #FF6B00;
    color: #ffffff;
    border: none;
    width: fit-content;
    border-radius: 10px;
    font-family: 'Bebas Neue';
}

.textarea .btn:hover {
    background: black;
    color: white;
}

#carouselExampleControls .my-indicator-left {
    left: -140px !important;
}

#carouselExampleControls .my-indicator-right {
    right: -10% !important;
}

/* secondpart */

.secondpage {
    padding: 4rem 0;
}

.secondpage .my-card {
    border-radius: 30px;
    box-shadow: 0px 8px 24px rgb(0 0 0 / 15%);
}

.secondpage .my-card-body {
    text-align: center;
}

.secondpage .my-card-body .rangeinfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.secondpage .my-card-body #my-range {
    background-color: #FF6B00;
    width: 100%;
}

.secondpage .sec_part_body {
    background: #333333;
    color: #ffffff;
    height: 92%;
    padding: 1rem;
    margin-right: -12px;
    border-radius: 30px 0px 0px 30px;
}

.secondpage .my-card3 {
    background: transparent;
    text-align: center;
}

.secondpage .my-card3 img {
    border-radius: 20px;
}

.secondpage .my-card3 .secondpage_btn, .carousel2_btn .prev, .carousel2_btn .next {
    background: #FF6B00;
    color: #ffffff;
}

.secondpage .item{
    padding: 10px;
}
.secondpage .owl-nav{
    height: 3rem;
    z-index: 1;
    width: 18%;
    display: flex;
    margin-top: 0 !important;
    position: absolute;
    top: -64px;
    right: 5px;
}

.secondpage .owl-nav .owl-prev, .secondpage .owl-nav .owl-next{
    background: #FF6B00 !important;
    width: 40%;
    height: 100%;
    font-size: xx-large !important;
    box-shadow: 0px 8px 24px rgb(0 0 0 / 15%);
}


/* thirdpage */

.thirdpage .third_heading {
    font-family: 'Baumans', cursive;
    font-size: 50px;
}

.thirdpage .my-card2 {
    width: auto;
    display: flex;
    background: #ffffff;
    border-radius: 27px;

    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
}

.thirdpage .card-img1 {
    margin-top: -15%;
}

.thirdpage .my-card-body2 {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.thirdpage .my-card2:hover {
    background: #FF6B00;
}

.thirdpage .card-box {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.thirdpage .my-card-body2 .colorselect {
    width: 100%;
}

.thirdpage .my-card-body2 ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    width: 50%;
    padding: 0;
}

.thirdpage .my-card-body2 ul li {
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
}

.thirdpage .my-card-body2 ul #black {
    background-color: #1F2229;
}

.thirdpage .my-card-body2 ul #Feijoa {
    background-color: #B0DA87;
}

.thirdpage .my-card-body2 ul #Blue {
    background-color: #2D5FD5;
}

.thirdpage .my-card-body2 ul #Green {
    background-color: #7FFF43;
}



/* fourthpage */
.fourthpage p {
    text-align: justify;
}


/* Footer */
.Footer li a {
    text-decoration: none;
    color: #323335;
}

.Footer .email_input {
    height: 3rem;
    width: 87%;
}

.Footer #email_btn {
    border: none;
    background: transparent;
}


